@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --titleBold: 700;
  --PRegular: 400;
  --Bold: 600;
  --medium: 500;
  --ExtraBold: 900;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: black;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, span, li{
  @apply text-white;
}

h1 {
  @apply leading-[80px];
}

h1, h2 {
  @apply font-semibold;
}

p {
  @apply text-gray;
}
/* Button */

.btn {
  @apply flex items-center py-1.5 bg-gradient rounded-md font-poppins text-white text-sm px-[28px] leading-7 cursor-pointer;
}

/* .btn:focus {
  box-shadow: 0 0 0 0.2rem ;
} */